@font-face {
	font-family: 'Rounded Mplus 1c Bold';
	src: url(../static/fonts/MPLUSRounded1c-Bold.ttf);
}

@font-face {
	font-family: 'Rounded Mplus 1c Regular';
	src: url(../static/fonts/MPLUSRounded1c-Regular.ttf);
}



body {
	font-family: 'MplusRegular';
	.chatsRow {
		background: radial-gradient(circle at 30% 0, rgba(0, 0, 0, 1) 0%, rgba(15, 15, 15, 1) 100%);
		flex: 1 1 auto;
		overflow: hidden;
		opacity: 0;
		transition: 0.7s ease;
		.col{
		}
		.right {
			flex-basis: 100%;
			height: auto;
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;

			.text {
				h1 {
					font-size: 40px;
					font-weight: 100;
				}

				h3 {
					font-size: 22px;
					margin-top: 50px;
					font-weight: 100;
					line-height: 1.5;
				}

				align-self: center;
				max-width: 500px;
				margin: 0 auto;
				text-align: center;
				color: rgba($color: white, $alpha: 0.5);

			}

			.chatsContent {
				opacity: 0;
				transition: opacity 0.7s;
				background: none;
				display: flex;
				flex-flow: column;

				width: 100%;
				flex: 1;
				height: 100%;
				box-sizing: content-box;

				// @media screen and (max-width : 1366px) {
				// 	width: 1074px;
				// }



				.chat {
					position: relative;
					display: flex;
					flex-flow: column;
					height: calc(100vh - 60px);
					width: 100%;
					background: transparent;
					// background: linear-gradient(,black);
					border-radius: 8px 0 0 0;
					box-sizing: border-box;

					.container {
						width: 100%;
						height: 100%;
						position: relative;
						display: flex;
						flex-flow: column nowrap;
						.chatsInputContainer {
							position: absolute;
							bottom: 0;
							width: 94%;
							box-sizing: content-box;
							z-index: 30;
						}
						.inputContainer{
							.filesAttachContainer{
							}
							.respondingMessageBlock{
								z-index: 999;

							}
							.input{
							}
						}
						.chatHeader {
							position: absolute;
							top: 0;
							z-index: 10;
							left: 0;
							width: 100%;
							padding: 5px 0 5px 0;
							text-align: center;
							display: flex;
							flex-flow: row;
							justify-content: center;
							background: linear-gradient(black, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85), transparent);
		
							align-items: center;
		
							.chatName {
								padding-left: 40px;
								color: white;
								font-size: 26px;
							}
						}
						.messages {
							flex-basis: 50px;
							flex-grow: 1;
							flex-shrink: 2;
							display: flex;
							position: relative;
							flex-flow: column-reverse nowrap;
							overflow-y: auto;
							box-sizing: border-box;
							padding: 50px 30px 0 30px;
							margin-bottom: 80px;
							
							.message{
								position: relative;
								.optionList {
									display: flex;
									flex-flow: column;
									position: absolute;
									z-index: 11;
									top: -150px;
									opacity: 0;
									width: 270px;
									padding: 6px 0;
									font-size: 1em;
									transition: all 0.3s cubic-bezier(0, 0.84, 0.63, 1.01);
									background: #000;
									border-radius: 7px;
									border: 1px solid #2C2C2C;
									.listItem {
										padding: 10px 20px;
										cursor: pointer;
										pointer-events: all;
									}
	
									.listItem:hover {
										background: #171717;
									}
								}
	
								.optionList.visible {
									opacity: 1;
								}
								.optionList.left{
									left: 46px;
								}
								.optionList.right{
									right: 46px;
									height: auto;
								}
								.messageContent{
									width: auto;
									max-width: 650px;
									display: flex;
									flex-flow: column;
									position: relative;
									@media (max-width: 1200px){
										max-width: 350px;
									}
									@media (min-width: 1200px){
										max-width: 550px;
									}
									.row{
										background: transparent;
										.messageText {
											display: flex;
											flex-flow: column;
											flex-grow: 1;
											max-width: 570px;
											padding: 9px;
											color: #C1C1C1;
											@media screen and (max-width: 1200px){
												max-width: 270px;
											}
											@media screen and (min-width: 1200px){
												max-width: 470px;
											}
											p{
												word-wrap: break-word;

											}
											.media.manyMedia {
												width: 400px;
												justify-content: space-between;
												display: flex;
												flex-flow: row wrap;
												@media (max-width: 1200px){
													max-width: 300px;
												}
											}

											.media {
												padding-top: 10px;
												width: auto;
												height: auto;
												display: flex;
												flex-flow: column;
												.item {
													overflow: hidden;
													max-width: 600px;
													max-height: 600px;
													display: flex;
													justify-content: center;
													align-items: center;
													border-radius: 5px;
													margin: 5px 0;
													transition: all 0.3s ease;

													.video {
														width: 100%;
														max-height: 500px;
														user-select: none;
													}
												}

												

												.seeMoreButton {
													display: flex;
													justify-content: center;
													align-items: center;
													width: 195px;
													height: 195px;
													transition: all 0.3s ease;
													cursor: pointer;

													.mediaLeft {
														color: #5F5D5D;
														font-family: 'MplusRegular';
														font-size: 2em;
														margin-left: 0.2em;
														transform: translateY(0);
													}
												}

												.seeMoreButton:hover {
													opacity: 0.5;
												}

												.item.manyMedia {
													margin-bottom: 10px;
												}

												.item.manyMedia {
													width: 195px;
													height: 195px;
													margin: 0;
												}

												.image {
													width: 100%;
													height: inherit;
													cursor: pointer;
													transition: opacity 0.3s ease;
												}
												.image:hover {
													opacity: 0.5;
												}
											}
											.media .item:last-child{
												margin: 5px 0 0 ;
											}
											.media .item:first-child{
												margin: 0 0 5px ;
											}
										}

										.messageText.withMedia {
											padding: 4px;
											p {
												margin-left: 5px;
											}
										}
									}
									
									.sentTime {
										display: flex;
										justify-content: end;	
										align-self: end;
										margin-left: auto;
										margin-bottom: 5px;
										color: #AFAFAF;
										font-size: 11px;
										padding-right: 5px;
										padding-left: 5px;
									}

									.sentTime.withMedia {
										padding: 3px;
										border-radius: 5px;
										margin-right: 5px;
										background: rgba($color: #000000, $alpha: 0.7);
										position: absolute;
										bottom: 5px;
										color: #afafaf;
									}

									.sentTime.withManyMedia {
										position: absolute;
										bottom: 0;
									}

									.expandButton {
										transition:  0.3s ease;
										position: absolute;
										opacity: 0;
										top: 0;
										right: 0;
										cursor: pointer;
										display: flex;
										padding-top: 7px;
										padding-right: 9px;
										width: 40px;
										height: 20px;
										justify-content: end;
										background: linear-gradient(30deg, transparent 40%, black);
										border-radius: 5px;
										svg {
											width: 15px;
											height: 8.5px;
										}
									}
								}
								.messageContent:hover .expandButton{
									opacity: 1;
								}
								.respondingMessage{
									cursor: pointer;
									margin: 8px 8px 0 8px;
									border-radius: 8px;
									background: #101010;
									padding: 5px;
									flex-grow: 1;
									color: #C1C1C1;
									.respondingMessageSender{
										font-size: 0.6em;
										margin-bottom: 5px;
									}
									.respondingMessageText{
										font-size: 0.5em;
										
									}
								}
								.respondingMessage:hover{
									background: #131313;
								}
								.messageCorner {
									img {
										transform: translateY(-9px);
									}
									@media (max-width: 1510px){
										img{
											transform: translateY(-6px);
										}
									}
									@media (max-width: 1200px){
										img{
											transform: translateY(-2px);
										}
									}
								}
							}
							.myMessage {
								color: white;
								display: flex;
								flex-flow: row-reverse nowrap;
								margin-top: 2px;
								margin-bottom: 2px;
								text-align: left;
								position: relative;

								.senderPfp {
									height: 35px;
									border-radius: 50%;
									border: 1px solid white;
								}


								.messageContent {
									transform: translateX(3px);
									box-sizing: border-box;
									background: #000;
									border-radius: 8px 0 8px 8px;

									span {
										font-size: 14px;
										color: #C1C1C1;
										display: inline-block;
										transform: translateY(5px);
									}
								}
								
							}
							.othersMessage {
								color: white;
								display: flex;
								flex-flow: row;
								padding-bottom: 4px;
								text-align: left;
								position: relative;

								.senderPfp {
									height: 35px;
								}


								.messageContent {
									box-sizing: border-box;
									height: auto;
									background: #2C2C2C;
									border-radius: 0 6px 6px 6px;

									span {
										font-size: 14px;
										color: #C1C1C1;
										display: inline-block;
										transform: translateY(5px);
									}
								}
							}
							
						}
					}
				}
			}
		}
	}
}