body{
   .passwordRecoveryBody{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .PRContainer{
         transform: translateY(-20%);
         width: 50%;
         color: white;
         display: flex;
         flex-flow: column;
         .KFTText{
            text-align: center;
            font-size: 3em;
            margin-bottom: 30px;
         }
         .pageName{
            font-size: 2em;
            text-align: center;
            margin-bottom: 50px;
         }
         .inputBox{
            align-self: center;
            width: 80%;
            .inputName{
               
            }
            .inputContainer{
               margin: 10px 0 30px 0;
               height: 50px;
               border-radius: 15px;
               font-size: 1.2em;
               .input{
                  textarea{
                     transform: translateY(-2px);
                  }
               }
            }
         }
         .submitButton{
            font-family: 'Rounded Mplus 1c Bold';
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background: #2a2a2a;
            width: 125px;
            height: 40px;
            font-size: 0.9em;
            align-self: center;
            cursor: pointer;
            transition: 0.3s ease;
         }
         .submitButton:hover{
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
         }
         .backToRegistration{
            margin-top: 20px;
            text-align: center;
            text-decoration: underline;
            cursor: pointer;
            transition: 0.3s ease;
         }
         .backToRegistration:hover{
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
         }
      }
   }
}